@import "../../style.scss";
.messagesD {
  @include themeChange($themes) {
    .send {
      margin-top: 10px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      .s-info {
        max-width: 300px;
        p {
          border-radius: 20px;
          color: white;
          word-wrap: break-word;
          width: fit-content;
          background-color: rgb(82, 72, 217);
          padding: 10px;
        }
      }
      span {
        color: themed("tcs");
        font-size: smaller;
        margin: 5px 10px;
      }
    }
    .send.other {
      margin-left: 5px;
      align-items: flex-end;
      .s-info {
        p {
          color: black;
          background-color: rgb(212, 212, 212);
        }
      }
    }
  }
}
